html {
  font-size: 14px;
}

body {
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

h1 {
  color: #333;
  font-size: 3rem;
  font-weight: 300;
}

h1, h2 {
  line-height: 2rem;
}

h2 {
  color: #444;
  font-size: 25px;
  font-weight: 700;
}

strong {
  font-weight: 700;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin-bottom: 1.5rem;
}

pre {
  margin-bottom: 1.5rem;
}

pre > code {
  padding: 1rem;
  font-size: 100%;
  white-space: pre-wrap;
  word-wrap: break-word;
}

code {
  background-color: #fff;
}

.navbar {
  border-bottom: 1px solid #eee;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  width: 100%;
}

.navbar ul {
  list-style: none;
  margin-bottom: 0;
}

.navbar li {
  float: left;
  margin-bottom: 0;
  margin-right: 2em;
  position: relative;
}

.navbar a {
  color: #222;
  font-size: .8rem;
  font-weight: 700;
  letter-spacing: .2rem;
  text-transform: uppercase;
}

.navbar a:hover {
  color: #0fa0ce;
}

.sidebar li {
  line-height: 1.2rem;
}

.sidebar ul {
  list-style: none;
}

.hljs-keyword {
  color: #0000ff;
}

.hljs-string {
  color: #008080;
}

.hljs-number {
  color: #800080;
}

.example {
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  margin-bottom: 1.5rem;
}

.example pre {
  margin: 0;
  padding: 0;
}

.example code {
  border: none;
  line-height: normal;
  margin: 0;
  padding: 1rem 1rem .5rem 1rem;
}

.example ul {
  font-family: monospace;
  list-style: none;
  line-height: normal;
  margin: 0 0 .5rem 0;
}

.example li {
  margin: 0;
  padding: .5rem 1rem;
  word-wrap: break-word;
}

.example-error {
  color: red;
}

.expand-buttons button {
  margin: 1rem 1rem 0 0;
}

#creation, #properties, #casts, #operators {
  margin-top: 2rem;
}

h1.type-description {
  margin-top: 0;
}

.entry {
  margin-bottom: 1rem;
}

.entry-heading {
  background-color: #f2f8ff;
}

.entry-key {
  padding: .75rem .75rem .75rem 0;
}

.entry-expand {
  cursor: pointer;
  display: inline-block;
  height: 100%;
  padding: .75rem 0 .75rem .75rem;
  width: 1.5em;
}

.entry-hidden {
  display: none;
}

.entry-body {
  padding: .75rem;
  border: 1px solid #f1f1f1;
  border-top: 0;
}

.entry-body td, .entry-body th {
  border: 0;
  padding: .5rem;
}

.footnotes {
  background-color: #f8f8f8;
  border-radius: 4px;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

.footnote {
  display: inline-block;
  margin-right: 2rem;
}

.footnote h5 {
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0;
}

.footnote-body {
  margin: 0;
  display: table;
}

table.support td {
  border: 0;
  padding: 0 1.5rem .25rem 0;
  vertical-align: top;
}

.links a {
  margin-right: 1.5rem;
}

#search-input {
  width: 100%;
}

#search-form {
  margin-bottom: 2rem;
}

.search-hidden {
  display: none;
}

.reference-types {
  list-style: none;
}

.reference-types li {
  display: inline;
}

.reference-types li:after {
  content: ", ";
}

.reference-types li:last-child:after {
  content: "";
}

.evaluate textarea {
  width: 100%;
}

.deprecated {
  background-color: #fcf8e3;
  border-radius: 4px;
  padding: 1rem;
  margin-bottom: 1.5rem;
}
