a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

pre > code {
  white-space: pre-wrap;
  word-wrap: break-word;
}

code {
  background-color: #fff;
}

.navbar {
  border-bottom: 1px solid #eee;
  margin-bottom: 1em;
  padding-bottom: 1em;
  padding-top: 1em;
  width: 100%;
}

.navbar ul {
  list-style: none;
  margin-bottom: 0;
}

.navbar li {
  float: left;
  margin-bottom: 0;
  margin-right: 2em;
  position: relative;
}

.navbar a {
  color: #222;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .2rem;
  text-transform: uppercase;
}

.navbar a:hover {
  color: rgb(30, 174, 219)
}

.sidebar li {
  line-height: 1.2em;
}

.sidebar ul {
  list-style: none;
}

.example {
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  margin-bottom: 1.5rem;
}

.example pre {
  margin: 0;
  padding: 0;
}

.example code {
  border: none;
  font-size: 90%;
  line-height: normal;
  margin: 0;
  padding: 1rem 1rem .5rem 1rem;
}

.example ul {
  font-family: monospace, monospace;
  font-size: 90%;
  list-style: none;
  line-height: normal;
  margin: 0 0 .5rem 0;
}

.example li {
  margin: 0;
  padding: .5rem 1rem;
  word-wrap: break-word;
}

.example-error {
  color: red;
}

body {
  font-family: Roboto, Corbel, Avenir, 'Lucida Grande', 'Lucida Sans', sans-serif;
}

.expand-buttons button {
  margin: 1rem 1rem 0 0;
}

#creation, #properties, #casts, #operators {
  margin-top: 2rem;
}

.entry {
  margin-bottom: 1rem;
}

.entry-heading {
  background-color: #f2f8ff;
}

.entry-expand {
  cursor: pointer;
  display: inline-block;
  height: 100%;
  padding: .75rem 0 .75rem .75rem;
  width: 1.5em;
}

.entry-key {
  padding: .75rem .75rem .75rem 0;
}

.entry-body {
  padding: .75rem;
  border: 1px solid #f1f1f1;
  border-top: 0;
}

p {
  margin-bottom: 1.5rem;
}

.entry-body td, .entry-body th {
  border: 0;
  padding: .5rem;
}

.entry-hidden {
  display: none;
}

.footnotes {
  background-color: #f8f8f8;
  border-radius: 4px;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

.footnote {
  display: inline-block;
  margin-right: 2rem;
}

.footnote h5 {
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 0;
}

.footnote-body {
  margin: 0;
  display: table;
}

table.support td {
  border: 0;
  padding: .25rem 1.5rem 0 0;
  vertical-align: top;
}

.links a {
  margin-right: 1rem;
}

.hljs-keyword {
  color: #0000ff;
}

.hljs-string {
  color: #008080;
}

.hljs-number {
  color: #800080;
}

#search-input {
  width: 100%;
}

#search-form {
  margin-bottom: 2rem;
}

.reference-types {
  list-style: none;
}

.reference-types li {
  display: inline;
}

.reference-types li:after {
  content: ", ";
}

.reference-types li:last-child:after {
  content: "";
}

.evaluate textarea {
  width: 100%;
}

.deprecated {
  background-color: #fcf8e3;
  border-radius: 4px;
  padding: 1rem;
  margin-bottom: 1.5rem;
}
