a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

pre > code {
  white-space: pre-wrap;
  word-wrap: break-word;
}

code {
  background-color: #fff;
}

.navbar {
  border-bottom: 1px solid #eee;
  margin-bottom: 1em;
  padding-bottom: 1em;
  padding-top: 1em;
  width: 100%;
}

.navbar ul {
  list-style: none;
  margin-bottom: 0;
}

.navbar li {
  float: left;
  margin-bottom: 0;
  margin-right: 2em;
  position: relative;
}

.navbar a {
  color: #222;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .2rem;
  text-transform: uppercase;
}

.navbar a:hover {
  color: rgb(30, 174, 219)
}

.sidebar li {
  line-height: 1.2em;
}

.sidebar ul {
  list-style: none;
}

.example {
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  margin-bottom: 2.5rem;
}

.example pre {
  margin: 0;
  padding: 0;
}

.example code {
  border: none;
  font-size: 90%;
  line-height: normal;
  margin: 0;
  padding: 1rem 1.5rem .5rem 1.5rem;
}

.example ul {
  font-family: monospace, monospace;
  font-size: 90%;
  list-style: none;
  line-height: normal;
  margin: 0 0 .5rem 0;
}

.example li {
  margin: 0;
  padding: .5rem 1.5rem;
}

.example-error {
  color: red;
}

.property {
  /*font-family: monospace;*/
  /*font-size: 1.75rem;*/
}

.type {
  /*font-family: monospace;*/
}

.property-container {
  background-color: #f2f8ff;
  cursor: pointer;
  padding: .75rem;
  margin-bottom: .5rem;
}
