body {
  font-family: HelveticaNeue, Helvetica, Arial, Roboto, sans-serif;
  font-size: 16px;
  color: #323232;
}

h1, h2, h3, h4, h5 {
  font-weight: 400;
  margin-top: 2rem;
}

h1 {
  font-size: 31.25px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

code {
  background-color: #f8f8f8;
  font-size: 90%;
  font-family: monospace;
  padding: .25rem .25rem;
  margin: .25rem .25rem;
  white-space: nowrap;
}

pre > code {
  display: block;
  padding: .75rem 1rem;
  margin: 0;
}

a {
  color: #4178BE;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

p {
  line-height: 24px;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 1rem;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #4178BE;
  border-color: #4178BE; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover {
  color: #FFF;
  background-color: #5596E6;
  border-color: #5596E6; }

.bigfix-logo {
  vertical-align: bottom;
}

header.nav-header {
  height: 64px;

  font-size: 20px;
  line-height: 64px;

  background-color: #2e2e2e;
  color: #fff;
}

header.nav-header:after {
  content: "";
  display: table;
  clear: both;
}

header.nav-header a {
  height: 64px;
  box-sizing: border-box;

  color: #fff;
  text-decoration: none;
}

nav.nav-header-links {
  float: right;
}

nav.nav-header-links a {
  display: block;
  float: left;
  margin: 0 .5rem;
  padding: 0 1rem;

  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  opacity: .61;
}

nav.nav-header-links a:hover {
  opacity: 1.0;
}

nav.nav-relevance a.nav-relevance,
nav.nav-action-script a.nav-action-script,
nav.nav-rest-api a.nav-rest-api,
nav.nav-client-compliance a.nav-client-compliance {
  border-bottom: 3px solid #6EEDD8;
  opacity: 1.0;
}

.main {
  margin-top: 1rem;
}

ul.side-nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.side-nav-list ul {
  padding-left: 1.5rem;
}

.side-nav-item {
  margin: 6px 0;
}

.side-nav-link.selected {
  color: #323232;
  font-weight: 700;
}

.article h1:first-child {
  margin-top: 0;
}

.qna {
  background-color: #f8f8f8;
  font-family: monospace;
  word-wrap: break-word;
}

.qna ul {
  padding: .5rem 1rem .5rem 1rem;
}

.qna li {
  font-size: 90%;
  list-style: none;
  margin: 0;
  padding-top: .25rem;
  padding-bottom: .25rem; 
  white-space: pre-wrap;
}

.hljs-keyword {
  color: #4178BE;
}

.hljs-string {
  color: #008571;
}

.hljs-number {
  color: #734098;
}

.relevance-reference-category {
  margin-top: 2rem;
}

.relevance-reference-category h2 {
  margin-top: 0;
  margin-bottom: 1rem;
}

.relevance-reference-types {
  margin: 0;
  padding: 0;
  line-height: 24px;

  list-style: none;
}

.relevance-reference-types li {
  display: inline;
}

.relevance-reference-types li:after {
  content: ", ";
}

.relevance-reference-types li:last-child:after {
  content: "";
}

.relevance-property {
  margin-bottom: 1rem;
}

.relevance-property p {
  margin-top: 0;
}

.relevance-property-header {
  background-color: #f2f8ff;
}

.relevance-property-key {
  padding: .75rem .75rem .75rem 0;
}

.relevance-property-expand {
  cursor: pointer;
  display: inline-block;
  height: 100%;
  padding: .75rem 0 .75rem .75rem;
  width: 1.5em;
}

.hidden {
  display: none;
}

.relevance-property-body {
  padding: 1rem 1rem 0 1rem;
  border: 1px solid #f1f1f1;
  border-top: 0;
}

.relevance-property-block,
.relevance-type-block {
  margin-bottom: 1rem;
}

.relevance-property-links a {
  margin-right: 1rem;
}

.relevance-type-sections {
  padding-left: 1rem;
  list-style: none;
}

.relevance-type-sections li {
  margin: 6px 0;
}

.relevance-type-buttons button {
  margin-right: 1rem;
}

.deprecated {
  background-color: #FDE876;
  padding: 1rem;
}

#search-box {
  border: 2px solid #e0e0e0;
  padding: .5rem 1rem .5rem 1rem;
  margin-bottom: .5rem;
}

#search-input {
  border: 0;
  outline: 0;
  width: 100%;
}

#search-form {
  margin-bottom: 2rem;
}

.search-hidden {
  display: none;
}

.evaluatea ol {
  list-style-type: none;
  list-style:none;
    padding-left:0;
}
.evaluatea ol li:before {
  content: "A: ";
}

.evaluatee ol {
  list-style-type: none;
  list-style:none;
    padding-left:0;
}
.evaluatee ol li:before {
  content: "E: ";
}

.evaluate textarea {
  width: 100%;
  border: 2px solid #e0e0e0;
  outline: 0;
}
