html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #323232;
  line-height: 1.5rem;
}

section {
  padding-bottom: 1rem;
  border-bottom: 1px solid #eee;
}

dl, dd {
  margin: 0.2em 0 1.2em;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  font-weight: 400;
  margin-top: 2rem;
}

h1 {
  font-size: 31.25px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

th, td {
  padding: 5px 10px;
  text-align: left;
}

th:first-child, td:first-child {
  padding-left: 0;
}

th:last-child, td:last-child {
  padding-right: 0;
}

code {
  background-color: #f8f8f8;
  font-size: 90%;
  font-family: monospace;
  padding: .25rem .25rem;
  margin: .25rem .25rem;
}

pre > code {
  display: block;
  padding: .75rem 1rem;
  margin: 0;
  white-space: pre-wrap;
}

a {
  color: #4178BE;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.main {
  background-color: #f8f8f8;
}

.container-left {
  min-height: 900px;
  padding: 20px;
  background-color: #fff;
}

.container-right {
  padding: 20px;
}

@media (min-width: 700px) {
  .container {
    width: 90%;
    padding: 0;
  }

  .container-right {
    float: left;
    width: 30%;
    padding: 2rem 5%;
  }

  .container-left {
    float: left;
    width: 70%;
    padding: 2rem 5%;
  }
}

.main:after {
  content: "";
  display: table;
  clear: both;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 1rem;
  color: #000;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 1px solid #bbb;
  border-radius: 3px;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover {
  background-color: #f8f8f8; }

.bigfix-logo {
  vertical-align: bottom;
}

header.nav-header {
  font-size: 20px;
  line-height: 64px;

  background-color: #1976d2;
  color: #fff;
}

header.nav-header:after {
  content: "";
  display: table;
  clear: both;
}

header.nav-header a {
  height: 64px;
  box-sizing: border-box;

  color: #fff;
  text-decoration: none;
}

.nav-header-logo {
  height: 64px;
  float: left;
}

nav.nav-header-links {
  float: right;
}

nav.nav-header-links a {
  display: block;
  float: left;
  margin: 0 .5rem;
  padding: 0 .5rem;

  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  opacity: .6;
}

nav.nav-header-links a:hover {
  opacity: 1.0;
}

nav.nav-get-started a.nav-get-started,
nav.nav-relevance a.nav-relevance,
nav.nav-action-script a.nav-action-script,
nav.nav-rest-api a.nav-rest-api,
nav.nav-examples a.nav-examples,
nav.nav-other a.nav-other {
  opacity: 1.0;
}

h2.contents {
  margin-top: 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid #9E9E9E;
}

.side-nav li li {
  list-style-type: disc;
}

.side-nav li li li {
  list-style-type: circle;
}

ul.side-nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.side-nav-list ul {
  padding-left: 1.5rem;
}

.side-nav-item {
  margin: 6px 0;
}

.side-nav-link.selected {
  color: #323232;
  font-weight: 700;
}

/* Remove top margins from the first content on the page */
.main > h1:first-child,
.side-nav > .side-nav-list > .side-nav-item:first-child,
.article > h1:first-child,
.article > .row > h1:first-child,
.article > p:first-child,
h1.relevance-type-description {
  margin-top: 0;
}

.qna {
  border-radius: 3px;
  background-color: #f8f8f8;
  font-family: monospace;
  word-wrap: break-word;
}

.qna ul {
  padding: .5rem 1rem .5rem 1rem;
}

.qna li {
  font-size: 90%;
  list-style: none;
  margin: 0;
  padding-top: .25rem;
  padding-bottom: .25rem; 
  white-space: pre-wrap;
}

.qna code {
  white-space: nowrap;
}

.qna-prefix {
  font-weight: 700;
}

.bf-actionscript-command {
  font-weight: 700;
  color: #4178BE;
}

.bf-actionscript-comment {
  color: #777;
}

.hljs-keyword {
  color: #4178BE;
}

.hljs-string {
  color: #008571;
}

.hljs-number {
  color: #734098;
}

.relevance-reference-category {
  margin-top: 2rem;
}

.relevance-reference-category h2 {
  margin-top: 0;
  margin-bottom: 1rem;
}

.relevance-reference-types {
  margin: 0;
  padding: 0;
  line-height: 24px;

  list-style: none;
}

.relevance-reference-types li {
  display: inline;
}

.relevance-reference-types li:after {
  content: ", ";
}

.relevance-reference-types li:last-child:after {
  content: "";
}

.relevance-property {
  margin-bottom: 1rem;
}

.relevance-property p {
  margin-top: 0;
}

.relevance-property-header {
  background-color: #E3F2FD;
}

.relevance-property-expand {
  cursor: pointer;
  display: inline-block;
  height: 100%;
  padding: .75rem;
  width: 2rem;
}

.hidden {
  display: none;
}

.hint {
  color: #aaa;
}

.relevance-property-body {
  padding: 1rem 1rem 0 1rem;
  border: 1px solid #f1f1f1;
  border-top: 0;
}

.relevance-property-block,
.relevance-type-block {
  margin-bottom: 1rem;
}

.relevance-property-links a {
  margin-right: 1rem;
}

.relevance-type-sections {
  padding-left: 1rem;
  list-style: none;
}

.relevance-type-sections li {
  margin: 6px 0;
}

.relevance-type-buttons button {
  margin-right: 1rem;
}

.deprecated {
  background-color: #FDE876;
  padding: 1rem;
}

#search-box {
  position: relative;

  padding: .5rem;
  margin-bottom: 1rem;

  border: 1px solid #ccc;
  border-radius: 3px;
}

#search-input {
  border: 0;
  outline: 0;
  width: calc(100% - 40px);
}

.search-icon {
  position: absolute;

  top: calc(50% - 8px);
  right: .5rem;
}

#search-form {
  margin-bottom: 2rem;
}

.search-hidden {
  display: none;
}

.evaluatea ol {
  list-style-type: none;
  list-style:none;
    padding-left:0;
}
.evaluatea ol li:before {
  content: "A: ";
}

.evaluatee ol {
  list-style-type: none;
  list-style:none;
    padding-left:0;
}
.evaluatee ol li:before {
  content: "E: ";
}

.evaluate textarea {
  width: 100%;
  border: 2px solid #e0e0e0;
  outline: 0;
}

.note {
  position: relative;
  padding: 1.5rem;
  padding-left: 4rem;
  border-radius: 3px;
  background-color: #E1F5FE;
}

.note p:first-child {
  margin-top: 0;
}

.note .fa-info-circle {
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;

  font-size: 30px;
}

.note ul {
  padding-left: 1rem;
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}

.CodeMirror:hover, .CodeMirror:active, .CodeMirror:focus, .CodeMirror.CodeMirror-focused {
  border: 1px solid #72B0EC;
  box-shadow: inset 0 0 1px rgba(0,0,0,0.5);
}

.CodeMirror.CodeMirror-focused {
  box-shadow: inset 0 0 1px rgba(0,0,0,0.5), 0 0 3px rgba(81,167,232,0.5);
}

.evaluator .evaluate-button {
    margin-top: 10px;
}

.evaluator .left {
  width: 20px;
  float: left;
  padding: 5px;
  color: #888;
  text-shadow: -1px -1px #fff;
  font-weight: bold;
}

.evaluator .q {
  background: #eee;
}

.evaluator .a {
  background: #eee;
  padding: 1px;
}

.evaluator .e {
  background: #E86C6C;
  padding: 1px;
}

.evaluator .e .left {
  color: #fff;
  text-shadow: 1px 1px #888;
}

.evaluator .a pre, .evaluator .e pre {
  background: #fff;
  padding: 5px;
  margin: 0;
  min-height: 35px;
  max-height: 200px;
}

.evaluator .a pre div, .evaluator .e pre div {
  border-bottom: 1px #ddd dashed;
}

.evaluator .a pre div:last-child, .evaluator .e pre div:last-child {
  border-bottom: none;
}

.evaluator .a .empty {
  color: #aaa;
}

.evaluator .loading {
  height: 1px;
  background-image: url('/static/img/loading-line.gif');
}

.evaluator .toolbar {
  display: block;
  padding: 4px;
  border: 1px solid #eee;
}

.evaluator .toolbar .status {
  float: right;
}

.evaluator .toolbar .status div {
  float: left;
  margin: 0 20px;
  padding: 1px;
  color: #666;
}

.evaluator .toolbar .buttons {
  float: left;
}

.evaluator .toolbar .buttons .button-primary {
  height: 26px;
  line-height: 0;
  margin: 0;
}

.search-filters {
  margin-bottom: 5px;
}

.search-filters #filter-summary {
  border: 1px solid #ccc;
  padding: 2px 10px 0px 10px;
  cursor: pointer;
}

.search-filters .platform-section .client-platforms {
  padding-left: 15px;
}

.search-filters .platform-section label {
  margin-left: 15px;
}

.search-filters #filter-details {
  padding: 10px 0px 4px 0px;
  border: 1px solid rgb(221, 221, 221);
  box-shadow: #eee 0px 3px 10px inset;
}