a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

pre > code {
  white-space: pre-wrap;
  word-wrap: break-word;
}

code {
  background-color: #fff;
}

.navbar {
  border-bottom: 1px solid #eee;
  margin-bottom: 1em;
  padding-bottom: 1em;
  padding-top: 1em;
  width: 100%;
}

.navbar ul {
  list-style: none;
  margin-bottom: 0;
}

.navbar li {
  float: left;
  margin-bottom: 0;
  margin-right: 2em;
  position: relative;
}

.navbar a {
  color: #222;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .2rem;
  text-transform: uppercase;
}

.navbar a:hover {
  color: rgb(30, 174, 219)
}

.sidebar li {
  line-height: 1.2em;
}

.sidebar ul {
  list-style: none;
}
