<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="container">
      <div class="row navbar">
        <div class="three columns">
          <ul class="navbar-list">
            <li class="navbar-item"><a href="/">relevance.io</a></li>
          </ul>
        </div>
        <div class="nine columns">
          <ul class="navbar-list">
            <li class="navbar-item"><a href="/guide/basics/introduction.html">Guide</a></li>
            <li class="navbar-item"><a href="/reference/">Reference</a></li>
          </ul>
        </div>
      </div>
      {{ content }}
    </div>
  </body>
</html>
