---
layout: default
---
<div class="row">
  <div class="three columns">
    <div class="sidebar">
      <ul>
        <li><a href="#">Core</a></li>
        <li><a href="#">Client</a></li>
        <li><a href="#">Session</a></li>
        <li><a href="#">Network</a></li>
        <li><a href="#">System</a></li>
        <li><a href="#">Windows</a></li>
        <li><a href="#">Packages</a></li>
        <li><a href="#">OSX</a></li>
        <li><a href="#">Solaris</a></li>
        <li><a href="#">AIX</a></li>
        <li><a href="#">LDAP / Active Directory</a></li>
        <li><a href="#">Processes, Applications, and Services</a></li>
        <li><a href="#">Users</a></li>
        <li><a href="#">Files</a></li>
      </ul>
    </div>
  </div>
  <div class="nine columns reference">
    <h1>{{ page.title }}</h1>
    {{ content }}
  </div>
</div>
