<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">relevance.io</a>
    </div>
  </div>
</div>
<div class="container">
  <div class="relevance">
    <div id="editor">now, name of operating system</div>
  </div>
  <ul class="list-group" id="results"></ul>
</div>
<script>
    var editor = ace.edit("editor");
    editor.getSession().setMode("ace/mode/plain_text");
    editor.renderer.setShowGutter(false);
    editor.renderer.setShowPrintMargin(false);
    editor.setHighlightActiveLine(false);
    editor.setDisplayIndentGuides(false);
    editor.setOptions({maxLines: 10});
    editor.setFontSize(14);

    editor.commands.addCommand({
      name: 'evaluate',
      bindKey: {win: 'Ctrl-Enter',  mac: 'Command-Enter'},
      exec: function (editor) {
        var relevance = editor.getValue();
        $.get('/evaluate?q=' + encodeURI(relevance), function (response) {
          $('#results').html('');
          var results = JSON.parse(response);
          for (var i = 0; i < results.length; ++i) {
            $('#results').append($('<li class="list-group-item">').text(results[i]));
          }
        }).fail(function (error) {
          $('#results').text('Error: ' + error.responseText);
        });
      }
    });

    editor.selection.moveCursorFileEnd();
    editor.focus();
  </script>
</script>