<div id="{{id}}" class="row entry">
  <div class="entry-heading">
    <div class="entry-expand" onclick="toggleEntry(this)">
      <i class="fa fa-plus-circle"></i>
    </div>
    <span class="entry-key">{{{heading}}}</span>
  </div>
  <div class="entry-body entry-hidden">
    {{{body}}}

    {{#deprecated}}
    <div class="deprecated">
      <b>Deprecated:</b> This property was removed in version {{deprecated}}.
    </div>
    {{/deprecated}}

    <div class="footnotes">
      {{#plural}}
      <div class="footnote">
        <h5>Plural</h5>
        <span class="footnote-body">{{plural}}</span>
      </div>
      {{/plural}}

      <div class="footnote">
        <h5>Support</h5>
        <table class="support footnote-body">
          {{#availability}}
          <tr>
            <td>{{version}}</td>
            <td>{{platforms}}</td>
          </tr>
          {{/availability}}
        </table>
      </div>
    </div>

    <div class="links">
      <a href="{{reference}}#{{id}}">permalink</a>
      <a href="{{source}}">edit</a>
    </div>
  </div>
</div>
