<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Learn how to customize your IBM BigFix deployment.">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,700,700italic,400italic'>
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <link rel="stylesheet" href="/static/site.css">
    <script src="/static/site.js"></script>
    <title>{{title}} | BigFix Developer</title>
  </head>
  <body>
    <header class="nav-header">
      <div class="container">
        <div class="nav-header-logo">
          <a href="/">
            <svg class="bigfix-logo" width="32" height="64" viewBox="0 0 256 256">
              <defs>
                <mask id="inner-b">
                  <circle fill="#fff" cx="128" cy="128" r="128"/>
                  <circle fill="#000" cx="128" cy="128" r="72"/>
                  <circle fill="#fff" cx="128" cy="128" r="32"/>
                  <rect fill="#000" x="56" y="0" width="40" height="128"/>
                </mask>
              </defs>
              <rect fill="#fff" x="0" y="0" width="256" height="256" mask="url(#inner-b)"/>
            </svg>
            <span>BigFix <strong>Developer</strong></span>
          </a>
        </div>
        <nav class="nav-header-links nav-{{section}}">
          <a class="nav-get-started" href="/get-started/">Get Started</a>
          <a class="nav-examples" href="/examples/">Examples</a>
          <a class="nav-relevance" href="/relevance/">Relevance</a>
          <a class="nav-action-script" href="/action-script/">Action Script</a>
          <a class="nav-rest-api" href="/rest-api/">REST-API</a>
          <a class="nav-other" href="/other/">Other APIs</a>
        </nav>
      </div>
    </header>
    <main class="main">
      {% block content %}
      {{content | safe}}
      {% endblock %}
    </main>
  </body>
</html>
