<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}} | BigFix Developer</title>
    <meta name="description" content="Learn how to customize your BigFix deployment.">
    <link href='https://fonts.googleapis.com/css?family=Roboto:700,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/site.css" type="text/css">
    <script src="/static/site.js"></script>
  </head>
  <body>
    <div class="container">
      <nav class="row navbar">
        <div class="two columns">
          <ul class="navbar-list">
            <li class="navbar-item"><a href="/">Home</a></li>
          </ul>
        </div>
        <div class="ten columns">
          <ul class="navbar-list">
            <li class="navbar-item"><a href="/relevance/guide/">Guide</a></li>
            <li class="navbar-item"><a href="/relevance/reference/">Reference</a></li>
            <li class="navbar-item"><a href="/relevance/search/">Search</a></li>
            <li class="navbar-item"><a href="https://github.com/briangreenery/relevance.io"><i class="fa fa-github-alt"></i>Contribute</a></li>
          </ul>
        </div>
      </nav>
      {{{content}}}
    </div>
  </body>
  <script>toggleOnLoad();</script>
</html>
