<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Learn how to customize your IBM BigFix deployment.">
    <link rel="stylesheet" href="/static/site.css">
    <script src="/static/site.js"></script>
    <title>{{title}} | BigFix Developer</title>
  </head>
  <body>
    <header class="nav-header">
      <div class="container">
        <div class="row">
          <div class="three columns">
            <a href="/">
              <svg class="bigfix-logo" width="32" height="64" viewBox="0 0 256 256">
                <defs>
                  <mask id="inner-b">
                    <circle fill="#fff" cx="128" cy="128" r="128"/>
                    <circle fill="#000" cx="128" cy="128" r="72"/>
                    <circle fill="#fff" cx="128" cy="128" r="32"/>
                    <rect fill="#000" x="56" y="0" width="40" height="128"/>
                  </mask>
                </defs>
                <circle fill="#fff" cx="128" cy="128" r="128" mask="url(#inner-b)"/>
              </svg>
              <span>BigFix <strong>Developer</strong></span>
            </a>
          </div>
          <div class="nine columns">
            <nav class="nav-header-links nav-{{section}}">
              <a class="nav-relevance" href="/relevance/">Relevance</a>
              <a class="nav-action-script" href="/action-script/">Action Script</a>
              <a class="nav-rest-api" href="/rest-api/">REST-API</a>
              <a class="nav-client-compliance" href="/client-compliance/">Client Compliance</a>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <main class="main container">
      {% block content %}
      {{content | safe}}
      {% endblock %}
    </main>
  </body>
</html>
