<div id="{{id}}" class="row relevance-property">
  <div class="relevance-property-header">
    <div class="relevance-property-expand" onclick="toggleEntry(this)">
      <i class="fa fa-plus-circle"></i>
    </div>
    <span class="relevance-property-key">{{key | safe}}</span>
  </div>
  <div class="relevance-property-body hidden">
    <div class="relevance-property-block">
    {{body | safe}}
    </div>

    {% if deprecated %}
    <div class="relevance-property-block deprecated">
      <b>Deprecated:</b> This property was removed in version {{deprecated}}.
    </div>
    {% endif %}

    <div class="relevance-property-block">
      {% if plural %}
      <strong>Plural:</strong> {{plural}}
      {% endif %}
    </div>

    <div class="relevance-property-block">
      <table>
        <thead>
          <tr>
            <th>Version</th>
            <th>Platforms</th>
          </tr>
        </thead>
        <tbody>
          {% for version, platforms in availability %}
          <tr>
            <td>{{version}}</td>
            <td>{{platforms | join(', ')}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="relevance-property-block relevance-property-links">
      <a href="{{reference}}#{{id}}">permalink</a>
      <a href="{{source}}">source</a>
    </div>
  </div>
</div>
