<div class="row">
  <div class="two columns">
    <div class="sidebar">
      <ul>
        <li><a href="#description">Description</a></li>
        {{#creation}}<li><a href="#creation">Creation</a></li>{{/creation}}
        {{#properties}}<li><a href="#properties">Properties</a></li>{{/properties}}
        {{#casts}}<li><a href="#casts">Casts</a></li>{{/casts}}
        {{#operators}}<li><a href="#operators">Operators</a></li>{{/operators}}
      </ul>
    </div>
  </div>
  <div class="ten columns">
  <h1 id="description" class="type">{{name}}</h1>
  {{{description}}}


  {{#parentHtml}}
  <div class="footnote">
    <h5>Parent</h5>
    <span class="footnote-body">{{{parentHtml}}}</span>
  </div>
  {{/parentHtml}}

  <div class="footnote">
    <h5>Support</h5>
    <table class="support footnote-body">
      {{#availability}}
      <tr>
        <td>{{version}}</td>
        <td>{{platforms}}</td>
      </tr>
      {{/availability}}
    </table>
  </div>

  <div class="expand-buttons u-cf">
    <button class="button" onclick="expandAll()">Expand all</button>
    <button class="button" onclick="collapseAll()">Collapse all</button>
  </div>

  {{#creation}}
  <h2 id="creation">Creation</h2>
  {{{creation}}}
  {{/creation}}

  {{#properties}}
  <h2 id="properties">Properties</h2>
  {{{properties}}}
  {{/properties}}

  {{#casts}}
  <h2 id="casts">Casts</h2>
  {{{casts}}}
  {{/casts}}

  {{#operators}}
  <h2 id="operators">Operators</h2>
  {{{operators}}}
  {{/operators}}
  </div>
</div>
